html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}
h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
}

p,ul,ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
}

body {
    background-color: black;
}
header {
    color: white;
}
main {
    margin: auto;
    display: flex;
    max-width: 1060px;
}

.calculator {
    width: 50%;
    height: 30vh;
}

.app-keypad {
    width: 10vw;
    height: 100%;
    display: grid;
    gap: 2% 2%;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 4rem 4rem;
}

.display-result {
    color: #fff;
    text-align: right;
    font-size: 4rem;
}
.display-calculationbuffer {
    color: #fff;
    text-align: left;
    font-size: 2rem;
}
.keypad-container {
    display: grid;
    gap: 2% 2%;
    height: 100%;
    justify-content: space-evenly;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border: 0px solid;
}
.keypad-button {
    border-radius: 1em;
    font-size: 1.4rem;
}
.keypad-button-function {
    background-color: lightgray;
}
.keypad-button-operator {
    background-color: orange;
}
.keypad-button-operand {
    background-color: darkslategray;
}
.keypad-button-moveresult {
    background-color: green;
}